# Environment & Secrets
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Build Output
dist/
dist-ssr/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Temp files
backend/temp/

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
/.obsidian
/DOnC-key_New_UI_Theme_Spec.md
/frontend/frontendREADME.md
/backend/backendREADME.md
/DOnC-key_Full_Stack_Review.md